body{
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

.news-link{
    text-decoration: none;
    font-weight: bold;
    transition: .1s;
}

.news-link:hover, .text-mute:hover{
    border-bottom: 3px solid blue;
}

.text-mute{
    text-decoration: none;
    font-weight: bold;
}

.img-width{
    width: 50px;
}

.list-item{
    list-style-type: none;
}

.list-item:hover{
    color: blue;
}